<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="images/vendor-1.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-2.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-3.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-4.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-5.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-6.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-7.jpg" alt="" />
                </div>
                <div class="bg-light p-4">
                    <img src="images/vendor-8.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>