<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body class="d-flex justify-content-center align-items-center w-100 vh-100">
    <div class="text-center">
        <h1 class="">
            <%= code %>
                <%= message %>
        </h1>
        <p>Back to fashion shop home page <a class="text-info font-weight-bold" href="/home">Fashion Shop</a></p>
    </div>
</body>

</html>