<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/loading.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
    <div class="loading-page">
        <div class="counter">
            <p>loading</p>
            <h1>0%
                <!--
            h1.abs loading
            h1.abs.color loading
            -->
            </h1>
            <hr />
        </div>
    </div>

    <script src="js/loading.js"></script>
</body>

</html>